@import '../../marketplace.css';

.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-grow: 1;

  margin-bottom: 40px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.seatNumberInput {
  flex-shrink: 0;
  width: 80%;

  margin-right: 20px;
}

.submitButton {
  margin-top: auto;

  border-radius: 20px;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
  }
}
